 * {
    background-color: aqua;
 }
 
 h1,
 h2 {
    color: red;
    text-align: center;
 }

 h1 {
    background-color: blue;
 }

h2 {
   border: 4px solid blue;
}

 p,
 li {
    text-align: center;
 }

 ul li {
    list-style-position: inside;
    width: 250px;
    background-color: aquamarine;
    margin: 4px auto;
 }

 ol li {
   margin: 12px;
   background-color: aquamarine;
   padding: 8px;
 }

 .image {
    display: block;
    margin: 0 auto;
 }

 .homepage {
    text-align: center;
    width: 200px;
    margin: 16px auto;
    border: 2px dotted blue;
    padding: 8px;
 }